################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/simple-factory/csharp/SimpleFactory/bin/Debug
/simple-factory/csharp/SimpleFactory/obj/Debug
