################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/simple-factory/csharp/SimpleFactory/bin/Debug
/simple-factory/csharp/SimpleFactory/obj/Debug
/simple-factory/csharp/SimpleFactoryUnitTest/obj/Debug
/factory-method/csharp/FactoryMethod/obj
/factory-method/csharp/FactoryMethod/bin/Debug/netcoreapp1.1
/factory-method/csharp/FactoryMethodUnitTest/obj/Debug
/factory-method/csharp/FactoryMethodUnitTest/bin/Debug/netcoreapp1.1
/factory-method/csharp/FactoryMethodUnitTest/obj
/simple-factory/csharp
/abstract-factory/csharp/AbstractFactory/bin/Debug/netcoreapp1.1
/abstract-factory/csharp/AbstractFactory/obj
/abstract-factory/csharp/AbstractFactoryUnitTest/bin/Debug/netcoreapp1.1
/abstract-factory/csharp/AbstractFactoryUnitTest/obj
/builder/csharp/Builder/bin/Debug/netcoreapp1.1
/builder/csharp/Builder/obj
/builder/csharp/BuilderUnitTest/bin/Debug/netcoreapp1.1
/builder/csharp/BuilderUnitTest/obj
